flowsNode.json
[{"id":"13bf6d8139b146c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"38618e949424247a","type":"function","z":"13bf6d8139b146c4","name":"function 1","func":"msg.headers = {\n    \"Content-Type\": \"audio/wav\",\n}\n\nmsg['payload'] = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["a2f6f64f.45bcb8","b84de86f.591bf8"]]},{"id":"85fbd22f89a26c29","type":"http in","z":"13bf6d8139b146c4","name":"","url":"/transcription","method":"post","upload":true,"swaggerDoc":"","x":110,"y":220,"wires":[["38618e949424247a"]]},{"id":"93a0bf58ad1aed81","type":"http response","z":"13bf6d8139b146c4","name":"","statusCode":"","headers":{},"x":1090,"y":220,"wires":[]},{"id":"1d876e269ee558c3","type":"watson-speech-to-text","z":"13bf6d8139b146c4","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"6--6xQaYk8-tAIarIWWon9aSbnxfKT2OwnFERaw9UO8N","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/cfe2db71-9975-45a3-93ce-f34c673ac45b","x":740,"y":220,"wires":[["187cef3e.0330e1"]]},{"id":"6b118e87.e1306","type":"debug","z":"13bf6d8139b146c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"187cef3e.0330e1","type":"function","z":"13bf6d8139b146c4","name":"","func":"msg.statusCode = \"200\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":220,"wires":[["6b118e87.e1306","93a0bf58ad1aed81"]]},{"id":"a2f6f64f.45bcb8","type":"debug","z":"13bf6d8139b146c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":80,"wires":[]},{"id":"300ccde1.f5ee92","type":"debug","z":"13bf6d8139b146c4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"b84de86f.591bf8","type":"ffmpeg-conversion","z":"13bf6d8139b146c4","name":"","format":"wav","audiochannels":"mono","audiofrequency":"8000","audiobitrate":"128k","audiocodec":"pcm_u8","x":510,"y":220,"wires":[["1d876e269ee558c3","300ccde1.f5ee92"]]}]